/* START NAV */
nav{
    background-color: rgba(0, 0, 0, 0.508);
}
/* END NAV */

/* section services */
.line{
    width: 50px;
    height: 3px;
    background-color: aqua;
    margin: 0 auto;
}
.icon-con{
    width: 80px;
    height: 80px;

}
/* END  */

/* START Works */
.work .img-con img{
    transition: all .5s;
}
.work:hover .img-con img{
    transform: scale(1.1);
}
/* END Works */

/* START Blog */
.line{
    width: 50px;
    height: 3px;
    background-color: aqua;
    margin: 0% auto;
}
.card-footer-left img{
    width: 30px;
    height: 30;
    border-radius: 50%;
}
.special-Blog{
    width:fit-content ;
    top: -20px;
}
/*END Blog*/


/* START About */
#About h2{
    position: relative;
}
#About h2::before{
    position: absolute;
    content:'';
    width: 12%;
    height: 22%;
    background-color:aqua;
    bottom: -5px;
    
}
/* END About */

/* START Contact */
.contact-right ul:nth-child(3) a{
    width: 35px;
    height: 35px;
    display: block;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
    border-radius: 50%;
    border: 4px solid blue;
}
/* END Contact */